body, html{
	padding: 0;
	margin: 0;
	
}

.intro-img{
	max-width: 100%;
}

nav{
	width: 100%;
	background-color: black;
}
nav ul{
	padding: 0;
	margin: 0 auto;
	text-align: center;
	padding: 20px 0;
}

nav ul li{
	display: inline-block;
	margin: 0 30px;
	color: white;
	
}

li.separator-nav{
	border-top: 3px solid #ffffff;
	width: 80px;
	position: relative;
	top: -5px;
}